body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2, p {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 12px 0;
  padding: 10px;
  width: 100%;
  max-width: 500px;
}
.card:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
.card h2 {
  flex-grow: 1;
  padding-left: 20px;
  color: #c73c25;
}
.card div {
  text-align: center;
}
.card em {
  font-size: 2em;
  font-style: normal;
  color: #ce6c31;
}
.card-percentage em {
  font-size: 2.5em;
}

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-left: 3px solid #c73c25aa;
  box-shadow: -4px 0 2px -2px #c73c25aa;
}

.dropdown-bar {
  overflow: auto;
}
.sliding-panel-wrapper {
  position: relative;
  overflow: hidden;
  transition: height 1s;
}
.sliding-panel {
  position: absolute;
  transition: all 1s ease;
}
.panel {
  height: 100%;
  padding: 5px 10px;
  overflow: auto;
}

@media (max-width: 550px) {
  .card {
    justify-content: center;
  }
  .card h2 {
    text-align: center;
    width: 100%;
  }
}
